<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.mapper.UserMapper">
    <select id="getUserName" resultType="java.lang.String">
        select name from user where id=1;
    </select>
    <insert id="addUser" parameterType="com.liang.pojo.User">
        insert into user(id,name,age) values(#{id},#{name},#{age});
    </insert>
    <delete id="delUser" parameterType="com.liang.pojo.User">
        delete from user where id=#{id}
    </delete>
    <update id="updateUser" parameterType="com.liang.pojo.User">
        update user set name=#{name},age=#{age} where id=#{id};
    </update>
    <select id="likeUser" parameterType="string" resultType="com.liang.pojo.User">
-- 拼接的形式会引入SQL注入，不安全
--         select * from user where name like '%${stone}%';

-- 相对来说安全
            select * from user where name like concat('%',#{stone},'%');
    </select>
    <!--    传多个参数-->
    <!--    <select id="pageUser" resultType="com.liang.pojo.User">-->
    <!--        select * from user limit #{startIndex},#{pageSize};-->
    <!--    </select>-->
    <!--    通过注解-->
    <!--    <select id="pageUser" resultType="com.liang.pojo.User">-->
    <!--        select * from user limit #{startIndex},#{pageSize};-->
    <!--    </select>-->
    <!--    参数为map集合-->
    <!--    <select id="pageUser" parameterType="map" resultType="com.liang.pojo.User">-->
    <!--        select * from user limit #{startIndex},#{pageSize};-->
    <!--    </select>-->

    <select id="pageUser" parameterType="list" resultType="com.liang.pojo.User">
        select * from user limit #{list[0]},#{list[1]};
    </select>
</mapper>

